$primary-color: rgb(15, 14, 23);
$second-color: rgb(34, 31, 51);
$alumni-sans: "Alumni Sans", sans-serif;

* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background-color: $primary-color;
}

nav {
  width: 100%;
  height: 90px;
  display: flex;
  padding: 15px 35px;
  justify-content: space-between;
  background-color: $second-color;

  img {
    height: 100%;
  }
  ul {
    gap: 35px;
    display: flex;
    font-size: 35px;
    list-style: none;
    align-items: center;
    font-family: $alumni-sans;
    a {
      color: white;
      text-decoration: none;
    }
    a:hover {
      color: rgb(209, 209, 211);
    }
  }
}

h1 {
  margin: 30px;
  color: white;
  font-size: 45px;
  font-weight: 500;
  text-align: center;
  font-family: $alumni-sans;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  
  form {
    width: 45%;
    display: flex;
    color: white;
    margin-bottom: 45px;
    border-radius: 15px;
    flex-direction: column;
    padding: 30px 45px 35px 45px;
    background-color: $second-color;
    
    label {
        font-size: 30px;
        margin-bottom: 12px;
        font-family: $alumni-sans;
    }

    input {
        border: none;
        font-size: 20px;
        padding: 10px 10px;
        border-radius: 10px;
        margin-bottom: 15px;
        font-family: $alumni-sans;
        border: 1px solid white;
    }

    textarea {
        border: none;
        resize: none;
        height: 150px;
        font-size: 20px;
        padding: 10px 10px;
        border-radius: 10px;
        margin-bottom: 25px;
        font-family: $alumni-sans;
    }

    input:hover, input:focus, textarea:hover, textarea:focus {
       outline: 1px solid rgb(216, 216, 216);
    }

    button {
        border: none;
        width: 150px;
        padding: 10px;
        font-size: 25px;
        font-weight: 600;
        border-radius: 10px;
        color: $second-color;
        background-color: white;
        font-family: $alumni-sans;
    }

    button:hover {
        cursor: pointer;
        background-color: rgb(228, 228, 228); 
    }

  }
}

.footer {
  width: 100%;
  height: 80px;
  padding: 3px;
  display: flex;
  margin-top: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: $second-color;

  .redes {
    gap: 15px;
    height: 60%;
    width: 100%;
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    filter: invert(100%) sepia(96%) saturate(17%) hue-rotate(281deg)
      brightness(103%) contrast(107%);
  }

  .otros {
    gap: 15px;
    height: 40%;
    width: 100%;
    display: flex;
    color: white;
    text-align: center;
    padding-bottom: 15px;
    justify-content: center;
    font-family: $alumni-sans;
  }

  img:hover,
  span:hover {
    cursor: pointer;
  }
}
